body{
    font-family: 'Space Mono', 'Fira Code', 'JetBrains Mono', monospace;
    position: relative;
    height: 10em;
}
.infobox{   
    left: 5%;
    display: grid;
    top: 100%;
    position: absolute !important;
    grid-template-columns: minmax(150px, 35%) 1fr;
}
.infobox img{
    width: 500px;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h3{
    font-size: 25px;
    font-weight: 400;
}
button{
    border: none;
    background-color: #2e3440;
    color: azure;
    width:  450px;
    height: 100px;
    font-size: x-large;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.048em;
    font-family:  'Space Mono', 'Fira Code', 'JetBrains Mono', monospace;
}
@media (max-width: 600px) {
    .infobox img {
        position: absolute;
        top: -600%;
        width: 350px;
        display: block;
    }
    h1{
        position: absolute;
        top: 400%;
        width: 350px;
    }
    h3{
        position: absolute;
        top: 1400%;
        width: 350px;
    }
    button{
        position: absolute;
        top: 2300%;
        height: 65px;
        width: 270px;
    }
    footer{
        position: relative;
        left: 0 !important;;
        width: 350px;
    }
   }